@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black!important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbg {
  background:  rgba(7, 7, 7, 0.2)
}